#SSeeds 050722 Setup file for elastic parsing script. WARNING: do not mix LH2 with LD2 data and do not mix different SBS magnet settings when stringing together base .root files for parsing.
#LD2, SBS4, SBS30
/lustre19/expphy/volatile/halla/sbs/seeds/old_GMN_Replays/SBS4/051022_timing_good_for_first_pass/e1209019_fullreplay_11589*
/lustre19/expphy/volatile/halla/sbs/seeds/old_GMN_Replays/SBS4/051022_timing_good_for_first_pass/e1209019_fullreplay_11588*
/lustre19/expphy/volatile/halla/sbs/seeds/old_GMN_Replays/SBS4/051022_timing_good_for_first_pass/e1209019_fullreplay_11547*
/lustre19/expphy/volatile/halla/sbs/seeds/old_GMN_Replays/SBS4/051022_timing_good_for_first_pass/e1209019_fullreplay_11548*
/lustre19/expphy/volatile/halla/sbs/seeds/old_GMN_Replays/SBS4/051022_timing_good_for_first_pass/e1209019_fullreplay_11573*
/lustre19/expphy/volatile/halla/sbs/seeds/old_GMN_Replays/SBS4/051022_timing_good_for_first_pass/e1209019_fullreplay_11590*
/lustre19/expphy/volatile/halla/sbs/seeds/old_GMN_Replays/SBS4/051022_timing_good_for_first_pass/e1209019_fullreplay_11592*
endlist
bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<.08&&bb.gem.track.nhits>3&&abs(bb.etot_over_p-0.92)<0.2&&sbs.hcal.e>0.025&&bb.ps.e+bb.sh.e>1.7
endcut
kine 4
E_e 3.728
BB_d 1.7988
BB_th 36.0
HCal_d 11.0
HCal_th 31.9
W_mean 1.00
W_sig 0.24
dx0_n 0.0007
dy0_n 0.006
dx_sig_n 0.18
dy_sig_n 0.24
dx0_p -0.649
dy0_p 0.006
dx_sig_p 0.18
dy_sig_p 0.24
dx_max 0.65
magSet 30
useAlshield 0
tar LH2
