#SSeeds 9.7.22 - SBS11
#Setup file for elastic parsing script. Configuration does not depend on SBS field, further cuts must be made after parsing on output root file.
#######
#Format
#######
#Root files to load. Should be from a single kinematic for parse code. /endlist
##NOTE: Each root file must be written in full here - wild card characters (*) will cause errors.
#HCal calibration timestamps to account for different constants throughout selected kinematic /endlist
#BBCal calibration timestamps /endlist
#Global cut applied to all events /endcut
#Experimental params and complex cuts - see script for details.
endlist
-------[ 2021-10-24 04:30:00 ] 
endlist
-------[ 2021-10-18 05:30:00 ]
-------[ 2021-10-21 06:30:00 ]
-------[ 2021-10-24 00:01:00 ]
-------[ 2021-10-24 10:30:00 ]
-------[ 2021-10-24 22:00:00 ]
-------[ 2021-10-25 01:52:00 ]
endlist
bb.tr.n==1&&bb.ps.e>0.2&&abs(bb.tr.vz[0])<0.08&&bb.gem.track.nhits>3&&abs(bb.etot_over_p-0.92)<0.2&&sbs.hcal.e>0.025&&bb.ps.e+bb.sh.e>1.7
endcut
E_e 9.91
t_trig 510
BB_d 1.55146
BB_th 42.0
HCal_d 14.5
HCal_th 13.3
W_mean 0.93
W_sig 0.25
useAlshield 0